<%= form_for([@user, @geolocation]) do |f| %>
  <%= f.label :name, 'Point to your home'  %>
  <%=f.text_field :address %>
  <%= f.hidden_field :lat, id: 'map_lat' %>
  <%= f.hidden_field :lng, id: 'map_lng' %>
  <%= f.submit %>
  <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>
<% end %>
